body {
  background-color : rgb(43, 78, 104) !important;
  color            : rgb(220, 220, 220) !important;
  font-family      : 'Fira Code', monospace;
  margin           : 0;
  background       : url(./assets/bg.png) left/cover;
  background-repeat: repeat;
}

.App {
  height  : 100vh;
  /* overflow: hidden; */
}

.ant-image-preview-img{
  max-width: 60% !important;
  min-width: 60% !important;
  height: auto;
}

.counter{
  border: 2px solid red;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 200;

}

.counter strong{
  font-weight: bolder;
}