::-webkit-scrollbar{
    height: 10px;
    width: 8px;
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #e1e6e7, rgb(61, 108, 145));
    border-radius: 5px;
  } 